@model IEnumerable<VoyagePlanner.Models.Destination>

@{
    ViewData["Title"] = "Destinations";
}

<h1>Destinations in @ViewBag.Country.Name</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistancePlane)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistanceRoad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FerryNeeded)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistancePlane)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistanceRoad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FerryNeeded)
            </td>
            <td>
                    <a asp-action="InitiateBooking" asp-route-destinationId="@item.Id">Book your holiday now!</a>
            </td>
        </tr>
}
    </tbody>
    <a asp-action="Countries">Back</a>
</table>
