<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@using System.Collections;
@{
    List<ExtraDetail> Model = ViewBag.extras;
    ExtraDetail randomModel = Model.FirstOrDefault();
    Extra extra = new Extra();
    
}

<table class="table">
    <thead>
        <tr>
            @{
                for(int i=1; i<4; i++)
                {
                <th>@ViewBag.names[i]</th>
                }
            }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            extra.ExtraDetail = item;
            string uniqueName = "partialViewContainer" + item.Id;
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <div id="@uniqueName">
                    @Html.Partial("~/Views/Partial/Increment.cshtml", extra)
                </div>
            </td>
        </tr>
}
        @Html.AntiForgeryToken()
    </tbody>
</table>
