<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@using System.Collections;
@*@model IEnumerable<VoyagePlanner.Models.ExtraDetail>*@
@{
    List<ExtraDetail> Model = ViewBag.extras;
    ExtraDetail randomModel = Model.FirstOrDefault();
    Extra extra = new Extra();
    
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                @{
                    for(int i=1; i<4; i++)
                    {
                    <th>@ViewBag.names[i]</th>
                    }
                }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            extra.ExtraDetail = item;
            string uniqueName = "partialViewContainer" + item.Id;
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <div id="@uniqueName">
                    @Html.Partial("~/Views/Partial/Increment.cshtml", extra)
                </div>
            </td>
        </tr>
}
        @Html.AntiForgeryToken()
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('.incrementButton').click(function (e) {
            console.log("called")
            let selector = `#extraQuantity-${this.name}`;
            let containerSelector = `#partialViewContainer${this.name}`
            console.log(selector)
            console.log($(selector).val())

            $.ajax({
                url: '/Voyages/IncrementHandler',
                method: 'POST',
                contentType: "application/json",
                headers: {
                    'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                },
                data: JSON.stringify({ extraId: this.name, extraQuantity: $(selector).val() }),
                success: function (result) {
                    $(containerSelector).html(result);
                }
            });
        });
    });
</script>