@{
    var allowances = ViewBag.allowances;
}


@foreach (var item in allowances) {
    string AllowanceId = "allowance-" + item.Id.ToString();
    <div class="my-1">
        <input type="radio" class="btn-check" name="allowance-choice" id="@AllowanceId" autocomplete="off" value="@item.Id" checked>
        <label class="btn btn-outline-success" for="@AllowanceId">@item.Name - @item.ReductionPercentage% off</label>
    </div>

}
