<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@model VoyagePlanner.Models.Person
@{
    string IsChecked(int id)
    {
        if (id == Model.Allowance.Id)
        {
            return "checked";

        }
        return "";
    }
}

@foreach (var item in ViewBag.Allowances)
{
    string AllowanceId = "allowance-" + item.Id.ToString();
    <div class="my-1">
        <input type="radio" class="btn-check" name="allowance-choice" id="@AllowanceId" autocomplete="off" value="@item.Id" @IsChecked(item.Id)>
        <label class="btn btn-outline-success" for="@AllowanceId">@item.Name - @item.ReductionPercentage% off</label>
    </div>

}
<hr />
<div class="row">
    <div class="col-md-4">  
        <form asp-action="EditPerson" id="editPersonForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input hidden asp-for="Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Firstname" class="control-label"></label>
                <input asp-for="Firstname" class="form-control" />
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lastname" class="control-label"></label>
                <input asp-for="Lastname" class="form-control" />
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" onclick="editHandler(event)" value="Update" class="btn btn-outline-success" />
            </div>
            <button class="btn btn-outline-success mt-2" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Cancel
            </button>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    $(document).ready(function () {
        $("#editPersonForm").submit(function (event) {
            event.preventDefault(); // prevent the page from reloading
        });
    });
</script>