@model Extra
@{
    ViewBag.Title = "My View";
    string uniqueName = "extraId-" + Model.ExtraDetail.Id;
    string uniqueQuantity = "extraQuantity-" + Model.ExtraDetail.Id;
    string uniqueButtonId = "uniqueButtonId-" + Model.ExtraDetail.Id;
}
<p>Quantity: @Model.Quantity</p>
<button onclick="handlerPlus(event)" class="incrementButton" name="@Model.ExtraDetail.Id">Plus</button>
<button onclick="handlerMinus(event)" class="decrementButton" name="@Model.ExtraDetail.Id">Minus</button>

@Html.Hidden(uniqueName, Model.ExtraDetail.Id, new { id = uniqueName })
@Html.Hidden(uniqueQuantity, Model.Quantity, new { id = uniqueQuantity })

<script>
    function handlerPlus(event){
        gatherExtraValues();
        let selector = `#extraQuantity-${event.target.name}`;
        let containerSelector = `#partialViewContainer${event.target.name}`

        $.ajax({
            url: '/Voyages/IncrementHandler',
            method: 'POST',
            contentType: "application/json",
            headers: {
                'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
            },
            data: JSON.stringify({ extraId: event.target.name, extraQuantity: $(selector).val() }),
            success: function (result) {
                $(containerSelector).html(result);
            }
        });
    }
    function handlerMinus(event) {
        gatherExtraValues();
        let selector = `#extraQuantity-${event.target.name}`;
        let containerSelector = `#partialViewContainer${event.target.name}`

        $.ajax({
            url: '/Voyages/DecrementHandler',
            method: 'POST',
            contentType: "application/json",
            headers: {
                'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
            },
            data: JSON.stringify({ extraId: event.target.name, extraQuantity: $(selector).val() }),
            success: function (result) {
                $(containerSelector).html(result);
            }
        });
    }
</script>