@model IEnumerable<VoyagePlanner.Models.Person>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Allowance.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        string uniqueName = item.Firstname + "_" + item.Lastname + "_" + item.DateOfBirth;
            @Html.Hidden(uniqueName,"", new { @class = "listValues", firstname = item.Firstname, lastname = item.Lastname, dateOfBirth = item.DateOfBirth, allowanceId = item.Allowance.Id, id = item.Id })

            <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Firstname, new { htmlAttributes = new { @class = "firstnameData" } })
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Lastname, new { htmlAttributes = new { @class = "lastnameData" } })
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth, new { htmlAttributes = new { @class = "dateOfBirthData" } })
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Allowance.Name, new { htmlAttributes = new { @class = "allowanceNameData" } })
            </td>
            <td>
                <a onclick="fillForm(@item.Id)">Edit</a> |
                <a onclick="removePerson(@item.Id)">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    function fillForm(id){
        $.ajax({
            url: `/Voyages/ShowEditForm/${id}`,
            method: 'GET',
            contentType: "application/json",
            success: function (result) {
                console.log($("#editForm"))
                $("#editForm").html(result);
            }
        });
    }

    function removePerson(id){
        var alreadyExistingPersons = [];
        var voyageId = document.querySelector("#voyageId").value;

        $(".listValues").toArray().forEach(listValue => alreadyExistingPersons.push({
            id: listValue.getAttribute("id"),
            firstname: listValue.getAttribute("firstname"),
            lastname: listValue.getAttribute("lastname"),
            dateOfBirth: listValue.getAttribute("dateOfBirth"),
            allowanceId: listValue.getAttribute("allowanceId")
        }))
        $.ajax({
            url: `/Voyages/RemoveAndRefresh/${id}`,
            method: 'PUT',
            contentType: "application/json",
            headers: {
                'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
            },
            data: JSON.stringify({ voyageId, alreadyExistingPersons }),
            success: function (result) {
                $("#toUpdate").html(result);
            }
        });
    }

</script>